{# get footer links menus #}
<div id="footer" class="footer ">

{% import _self as menus %}
      {#
        We call a macro which calls itself to render the full tree.
        @see http://twig.sensiolabs.org/doc/tags/macro.html
      #}
      {{ menus.menu_links(items, attributes, 0) }}

  {% macro menu_links(items, attributes, menu_level) %}
        {% import _self as menus %}
        {% if items %}
          {% if menu_level == 0 %}
            <ul class="footer-link">
          {% endif %}
     {% for item in items %}
           {% if item.below %}
           {% else %}
           {% set menutitle = item.title %}
           {% set newTitle=menutitle %}
			     {% set link_text %}{{ newTitle|raw }}{% endset %}
              <li title="{{link_text}}" id="TAB_{{link_text}}" {{ item.attributes }}> 
              <a href="{{ item.url }}" target="_blank">{{ link_text }}</a>
              </li>
				 {% endif %}
     {% endfor %}
       </ul>
      {% endif %}
  {% endmacro %}
  <div class="col-md-12 text-center">
    <p>Copyright © 2016 Mobile Pundits. All Rights Reserved. </p>
  </div>
  </div>